html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;  
}

.container {
    max-width: 100%; 
}

#edit-people-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#add-display-player-form {
    flex: 1; /* Takes remaining space */
    padding: 20px;
    box-sizing: border-box;
}

#people-table-container {
    flex: 1; /* Takes equal space as the form */
    height: 50vh; /* Limit height to half the viewport */
    overflow-y: auto; /* Only the table container scrolls */
    border: 1px solid #ddd; /* Optional: Add border for clarity */
    padding: 10px;
    box-sizing: border-box;
}