@page
@model DataDashboardModel
@{
    Layout = "_Layout";
}

<h1>Data Management Dashboard</h1>

<ul>
    <li><a href="/EditPeople">Manage People</a></li>
    <li><a class="disabled" href="#">Manage Battle Schemes (Coming Soon)</a></li>
    <li><a class="disabled" href="#">Manage Sign-In Keys (Coming Soon)</a></li>
</ul>
