@page
@model EditPeopleModel
@{
    Layout = "_Layout";
}

<h1>Edit People</h1>

<div id="edit-people-container">
    <div id="edit-display-player-form">
        <div hx-get="/EditPlayerPanel"
             hx-trigger="click"
             hx-target="#edit-display-player-form"
             hx-swap="innerHTML">
        </div>
    </div>

    <div id="people-table-container">
        <div id="people-table">
            @await Html.PartialAsync("_PeopleTable", Model.PlayerDisplays)
        </div>
    </div>
</div>