@page
@model EditPeopleModel
@{
    Layout = "_Layout";
}

<div id="edit-people-container">
    <!-- Panel on the Left -->
    <div id="edit-display-player-form">
        <!-- Form will dynamically load here -->
        @await Html.PartialAsync("EditPlayerPanel", Model.Player)
    </div>

    <!-- Table on the Right -->
    <div id="people-table-container">
        <div id="people-table">
            @await Html.PartialAsync("_PeopleTable", Model.PlayerDisplays)
        </div>
    </div>
</div>
